<div>Campaigns!!!!</div>

 <table class="table table-striped table-hover " >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Id</th>
                                        <th>Campaign name</th>
                                        <th>Days Ago</th>
                                    </tr>
                                </thead>
                                <tbody>
								    <tbody ng:repeat="i in activecampaigns">
								        <tr>
								            <td>{{$index}}</td>
								            <td><a ng-href="#">{{i.Id}}</a></td>
								            <td>{{i.Name}}</td>
								            <td>{{i.DaysAgo}}</td>
								        </tr>
								    </tbody>
                                </tbody>
                            </table>


 <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <div class="row-action-primary">
                                        <i class="mdi-file-folder"></i>
                                    </div>
                                    <div class="row-content">
                                        <div class="least-content">15m</div>
                                        <h4 class="list-group-item-heading">Tile with a label</h4>
                                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </div>
                                <div class="list-group-separator"></div>
                                <div class="list-group-item">
                                    <div class="row-action-primary">
                                        <i class="mdi-social-mood"></i>
                                    </div>
                                    <div class="row-content">
                                        <div class="least-content">10m</div>
                                        <h4 class="list-group-item-heading">Tile with a label</h4>
                                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                    </div>
                                </div>
                                <div class="list-group-separator"></div>
                                <div class="list-group-item">
                                    <div class="row-action-primary">
                                        <i class="mdi-file-folder"></i>
                                    </div>
                                    <div class="row-content">
                                        <div class="least-content">8m</div>
                                        <h4 class="list-group-item-heading">Tile with a label</h4>
                                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                    </div>
                                </div>
                                <div class="list-group-separator"></div>
                            </div>
                        <div id="source-button" class="btn btn-primary btn-xs" style="display: block;">&lt; &gt;</div></div>
                    </div>

