<div>Campaigns!!!!</div>

 <table class="table table-striped table-hover " >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Id</th>
                                        <th>Campaign name</th>
                                        <th>End Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
								    <tbody ng:repeat="i in activecampaigns">
								        <tr>
								            <td>{{$index}}</td>
								            <td>{{i.Id}}</td>
								            <td><a ng-href="#/campaigns">{{i.Name}}</a></td>
								            <td>{{i.DaysAgo}}</td>
                                            <td><a ng-click="activatecode()" class="btn btn-warning btn-raised withripple">Delete campaign<div class="ripple-wrapper"></div></a></td>
								        </tr>
								    </tbody>
                                </tbody>
                            </table>


 
 <div class="form-group has-warning" >
            <label class="control-label" for="inputWarning">Name</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignData[0].Name"><span class="material-input"></span>

           <label class="control-label" for="inputWarning">Type</label>
              <div class="form-control-wrapper"><select class="form-control" id="select" ng-model="campaignData[0].Type">
                                                <option>Discount</option>
                                                <option>Bonus</option>
                                            </select><span class="material-input"></span></div>

            <label class="control-label" for="inputWarning">MinAge</label>
             <div class="form-control-wrapper"><select class="form-control" id="select" ng-model="campaignData[0].MinAge">
                            <div ng-repeat="n in [1, 100] | range:100">
                                                <option>{{$index}}</option>
                            </div>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select><span class="material-input"></span></div>

            <label class="control-label" for="inputWarning">MaxAge</label>
             <div class="form-control-wrapper"><select class="form-control" id="select" ng-model="campaignData[0].MaxAge">
                            <div ng-repeat="n in [1, 100] | range:100">
                                                <option>{{$index}}</option>
                            </div>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select><span class="material-input"></span></div>

            <label class="control-label" for="inputWarning">Gender</label>
             <div class="form-control-wrapper"><select class="form-control" id="select" ng-model="campaignData[0].Gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select><span class="material-input"></span></div>

            <label class="control-label" for="inputWarning">Description</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignData[0].Description"><span class="material-input"></span>

            <label class="control-label" for="inputWarning">BeginDate</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignData[0].BeginDate"><span class="material-input"></span>

            <label class="control-label" for="inputWarning">EndDate</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignData[0].EndDate"><span class="material-input"></span>

            <label class="control-label" for="inputWarning">Interests</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignData[0].Interests"><span class="material-input"></span>

 

<a ng-click="activatecode()" class="btn btn-warning btn-raised withripple">Change campaign<div class="ripple-wrapper"></div></a>

            </div>
  </div>

