 <div class="form-group has-warning" >
            <label class="control-label" for="inputWarning">Please enter your code below</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignecode"><span class="material-input"></span>

           <label class="control-label" for="inputWarning">Please enter your code below</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignecode"><span class="material-input"></span>

            <label class="control-label" for="inputWarning">Please enter your code below</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignecode"><span class="material-input"></span>

            <label class="control-label" for="inputWarning">Please enter your code below</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignecode"><span class="material-input"></span>

            <label class="control-label" for="inputWarning">Please enter your code below</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignecode"><span class="material-input"></span>

            <label class="control-label" for="inputWarning">Please enter your code below</label>
            <div class="form-control-wrapper"><input type="text" class="form-control empty" id="inputWarning" ng-model="campaignecode"><span class="material-input"></span>

<a ng-click="activatecode()" class="btn btn-warning btn-raised withripple">Create new campaign<div class="ripple-wrapper"></div></a>
            </div>
  </div>