<svg width="500" height="300"><g transform="translate(150,150)"><text text-anchor="middle" transform="translate(-107,-4)rotate(90)" style="font-size: 74px; font-family: Impact; fill: rgb(31, 119, 180);">beats</text><text text-anchor="middle" transform="translate(79,56)rotate(0)" style="font-size: 53px; font-family: Impact; fill: rgb(174, 199, 232);">creative</text><text text-anchor="middle" transform="translate(173,-4)rotate(90)" style="font-size: 51px; font-family: Impact; fill: rgb(255, 127, 14);">earphone</text><text text-anchor="middle" transform="translate(43,-41)rotate(0)" style="font-size: 40px; font-family: Impact; fill: rgb(255, 187, 120);">macbook</text><text text-anchor="middle" transform="translate(4,0)rotate(0)" style="font-size: 38px; font-family: Impact; fill: rgb(44, 160, 44);">iphone</text></g></svg>


<!--

  var fill = d3.scale.category20();

  d3.layout.cloud().size([500, 300])
      .words([
        "creative", "beats", "earphone", "iphone", "macbook"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 80};
      }))
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 500)
        .attr("height", 300)
      .append("g")
        .attr("transform", "translate(150,150)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }


-->